@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'circularStd';
  src: url('../fonts/circular-std-4-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

body { font-family: "Rubik", sans-serif; }